﻿
@{
    ViewBag.Title = "BookJob";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEAD-->
        <!-- END PAGE BREADCRUMB -->
        <!-- BEGIN PAGE BASE CONTENT -->
        <div class="row">
            <div class="col-md-12">
                <!-- BEGIN SAMPLE FORM PORTLET-->
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption font-green-haze">
                            <i class="icon-user font-green-haze"></i>
                            <span class="caption-subject bold uppercase"> Book Job</span>
                        </div>
                        <div class="actions">

                            <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" data-original-title=""> </a>
                        </div>
                    </div>
                    <div class="portlet-body form">
                        <form role="form" class="form-horizontal" action="@Url.Action("PostJob","Home")" method="post">
                            <div class="form-body">
                                <div class="form-group form-md-line-input has-success">
                                    @if (ViewBag.Message != null)
        {
                            <label class="col-md-offset-2 col-md-10 alert alert-success" for="form_control_1">@ViewBag.Message</label>

}
                                    @if (ViewBag.Error != null)
        {
                            <label class="col-md-offset-2 col-md-10 alert alert-danger" for="form_control_1">@ViewBag.Error</label>

}
                                </div>
                                <div class="form-group form-md-line-input">
                                    <label class="col-md-2 control-label" for="form_control_1">Contact Number</label>
                                    <div class="col-md-10">
                                        <input type="text" name="ContactNumber" class="form-control" id="form_control_1" placeholder="Enter contact number" required>
                                        <div class="form-control-focus"> </div>
                                    </div>
                                </div>
                                <div class="form-group form-md-line-input">
                                    <label class="col-md-2 control-label" for="form_control_1">Location</label>
                                    <div class="col-md-10">
                                        <input type="text" name="Location" class="form-control" id="form_control_1" placeholder="Enter your location" required>
                                        <div class="form-control-focus"> </div>
                                    </div>
                                </div>
                                <div class="form-group form-md-line-input">
                                    <label class="col-md-2 control-label" for="form_control_1">Date</label>
                                    <div class="col-md-10">
                                        <input type="date" name="Date" class="form-control" id="form_control_1" required>
                                        <div class="form-control-focus"> </div>
                                    </div>
                                </div>
                                <div class="form-group form-md-line-input">
                                    <label class="col-md-2 control-label" for="form_control_1">No. Of Employees</label>
                                    <div class="col-md-10">
                                        <input type="number" name="NumberOfEmployees" class="form-control" id="form_control_1" placeholder="Enter no. of employees" required>
                                        <div class="form-control-focus"> </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-offset-2 col-md-10">
                                        <button type="submit" class="btn blue">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- END PAGE BASE CONTENT -->

    </div>
    <!-- END CONTENT BODY -->
</div>

