﻿
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEAD-->
        <!-- END PAGE BREADCRUMB -->
        <!-- BEGIN PAGE BASE CONTENT -->
        <div class="row">
            <div class="col-md-12">
                <!-- BEGIN SAMPLE FORM PORTLET-->
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption font-green-haze">
                            <i class="glyphicon-phone-alt font-green-haze"></i>
                            <span class="caption-subject bold uppercase"> Contact Us</span>
                        </div>
                        <div class="actions">

                            <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" data-original-title=""> </a>
                        </div>
                    </div>
                    <div class="portlet-body form">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="panel panel-info">
                                    <div class="panel-heading">
                                        Contact Us
                                    </div>
                                    <div class="panel-body">
                                        <p><b>Address</b> : 4 Business Park</p>
                                        <p> Omagh</p>
                                        <p>Co.Tyrone</p>
                                        <p>BT78 4UF</p>

                                        <p><b>Telephone</b>: 0123456789</p>
                                        <p><b>Email</b>: sugar31794@gmail.com</p>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <form role="form" class="form-horizontal" action="@Url.Action("PostContact","Home")" method="post">
                                    <div class="form-body">
                                        <div class="form-group form-md-line-input has-success">
                                            @if (ViewBag.Message != null)
                {
                            <label class="col-md-offset-2 col-md-10 alert alert-success" for="form_control_1">@ViewBag.Message</label>

}
                                            @if (ViewBag.Error != null)
                {
                            <label class="col-md-offset-2 col-md-10 alert alert-danger" for="form_control_1">@ViewBag.Error</label>

}
                                        </div>
                                        <div class="form-group form-md-line-input">
                                            <label class="col-md-2 control-label" for="form_control_1">Address</label>
                                            <div class="col-md-10">
                                                <input type="text" name="Address" class="form-control" id="form_control_1" placeholder="Enter your address" required>
                                                <div class="form-control-focus"> </div>
                                            </div>
                                        </div>
                                        <div class="form-group form-md-line-input">
                                            <label class="col-md-2 control-label" for="form_control_1">Phone</label>
                                            <div class="col-md-10">
                                                <input type="text" name="number" class="form-control" id="form_control_1" placeholder="Enter phone" required>
                                                <div class="form-control-focus"> </div>
                                            </div>
                                        </div>
                                        <div class="form-group form-md-line-input">
                                            <label class="col-md-2 control-label" for="form_control_1">Fax</label>
                                            <div class="col-md-10">
                                                <input type="text" name="Fax" class="form-control" id="form_control_1" placeholder="Enter fax" required>
                                                <div class="form-control-focus"> </div>
                                            </div>
                                        </div>
                                        <div class="form-group form-md-line-input">
                                            <label class="col-md-2 control-label" for="form_control_1">Email</label>
                                            <div class="col-md-10">
                                                <input type="email" name="Email" class="form-control" id="form_control_1" placeholder="Enter email" required>
                                                <div class="form-control-focus"> </div>
                                            </div>
                                        </div>
                                        <div class="form-group form-md-line-input">
                                            <label class="col-md-2 control-label" for="form_control_1">Facebook Link</label>
                                            <div class="col-md-10">
                                                <input type="text" name="fb" class="form-control" id="form_control_1" placeholder="Enter your facebook link" required>
                                                <div class="form-control-focus"> </div>
                                            </div>
                                        </div>
                                        <div class="form-group form-md-line-input">
                                            <label class="col-md-2 control-label" for="form_control_1">Twitter Link</label>
                                            <div class="col-md-10">
                                                <input type="text" name="tw" class="form-control" id="form_control_1" placeholder="Enter your twitter link" required>
                                                <div class="form-control-focus"> </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-actions">
                                        <div class="row">
                                            <div class="col-md-offset-2 col-md-10">
                                                <button type="submit" class="btn blue">Submit</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <!-- END PAGE BASE CONTENT -->

    </div>
    <!-- END CONTENT BODY -->
</div>

