﻿
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEAD-->
        <!-- END PAGE BREADCRUMB -->
        <!-- BEGIN PAGE BASE CONTENT -->
        <div class="row">
            <div class="col-lg-12 col-xs-12 col-sm-12">
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption caption-md">
                            <i class="icon-bar-chart font-dark hide"></i>
                            <span class="caption-subject font-dark bold uppercase text-center">Firm Background</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="scroller" style="height: 600px;" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2">
                            <p>
                                24/7 Security was founded by its current Managing Director Michael Lynch to meet the ever increasing client demand for a calibre of security personnel that was fully trained, vetted and experienced whilst also being professional, presentable and courteous.
                                From its inception in 1999 24/7 Security has now evolved into one of Irelands leading security providers. We offer low cost solutions that are tailor made to meet your needs – we believe in building close relations with our clients. Our management team is only too happy to offer our advice to ensure you have maximum peace of mind to enable you to focus on your other areas of business.
                            </p>

                            <h4><b>Client Listing</b></h4><br />
                            <p>
                                We retain a blue chip client base many of whom have been using our services since the company was founded. We believe this is due to our core values of integrity, transparency, quality of staff, cost competitiveness and internal quality controls.
                            </p>
                            <h4>
                                <b>
                                    Training
                                </b>
                            </h4><br />
                            <p>
                                24/7 Security places great emphasis on staff training which we oversee via our in-house training academy. We focus on key principles of customer care due to our niche service of supplying professional, experienced and courteous security officers to a diverse variety of assignments. Our personnel not only represent 24/7 Security whilst on duty - we ensure they also represent YOU AND YOUR BRAND.
                            </p>
                            <h4>
                                <b>
                                    Track Record
                                </b>
                            </h4><br />
                            <p>
                                24/7 Security’s track record includes providing security at the following prestigious events:
                                All Ireland GAA Football & Hurling Finals, Croke Park. 82,300 Spectators.
                                Golf 2006 Ryder Cup at the K Club, Kildare.
                                2004 European Union Presidency at Dublin Castle.
                                2003 Special Olympics Opening and Closing Ceremonies, Dublin Ireland.
                            </p>
                            <h4>
                                <b>
                                    Security Portfolio
                                </b>
                            </h4><br />
                            <p>
                                24/7 Security provides a turn-key set of security solutions which is ever more paramount in today’s modern business environment. Our service portfolio proves invaluable assistance for clients including Static Guarding, Event Security & Stewarding, Mobile Patrols, Retail Security, Door Security Personnel, Consultancy, VIP / Close Protection & Corporate Security personnel, Security Training, Car Park Management.
                                To receive a free quotation or for more information on our services please feel free to fill in the job form on this website or by contacting our office on 0123456789

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END PAGE BASE CONTENT -->

    </div>
    <!-- END CONTENT BODY -->
</div>
<!-- END CONTENT -->
