﻿
@{
    ViewBag.Title = "Gallery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .gallery_product {
        margin-bottom: 20px;
    }
</style>
<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEAD-->
        <!-- END PAGE BREADCRUMB -->
        <div class="row">
            <h1 class="text-center text-warning">Gallery</h1>
        </div>
        <br />

        <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe">
            <div class="thumbnail">
                <img src="~/Content/gallery.jpg" class="img-responsive">
            </div>
        </div>
        <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter sprinkle">
            <div class="thumbnail">
                <img src="~/Content/gallery.jpg" class="img-responsive">
            </div>        </div>
        <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe">
            <div class="thumbnail">
                <img src="~/Content/gallery.jpg" class="img-responsive">
            </div>        </div>
        
        <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter irrigation">
            <div class="thumbnail">
                <img src="~/Content/gallery.jpg" class="img-responsive">
            </div>        </div>
        <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter spray">
            <div class="thumbnail">
                <img src="~/Content/gallery.jpg" class="img-responsive">
            </div>        </div>
        <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter irrigation">
            <div class="thumbnail">
                <img src="~/Content/gallery.jpg" class="img-responsive">
            </div>
        </div>
        <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter spray">
            <div class="thumbnail">
                <img src="~/Content/gallery.jpg" class="img-responsive">
            </div>        </div>
        <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter irrigation">
            <div class="thumbnail">
                <img src="~/Content/gallery.jpg" class="img-responsive">
            </div>        </div>
        <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter irrigation">
            <div class="thumbnail">
                <img src="~/Content/gallery.jpg" class="img-responsive">
            </div>        </div>
        <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter hdpe">
            <div class="thumbnail">
                <img src="~/Content/gallery.jpg" class="img-responsive">
            </div>        </div>
        <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter spray">
            <div class="thumbnail">
                <img src="~/Content/gallery.jpg" class="img-responsive">
            </div>        </div>
        <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter sprinkle">
            <div class="thumbnail">
                <img src="~/Content/gallery.jpg" class="img-responsive">
            </div>        </div>
    </div>
</div>

