﻿
@{
    ViewBag.Title = "Reviews";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEAD-->
        <!-- END PAGE BREADCRUMB -->
        <!-- BEGIN PAGE BASE CONTENT -->
        <div class="row">
            <div class="col-lg-12 col-xs-12 col-sm-12">
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption caption-md">
                            <i class="icon-bar-chart font-dark hide"></i>
                            <span class="caption-subject font-dark bold uppercase">Reviews</span>
                        </div>
                    </div>

                    <div class="portlet-body">
                        <div class="scroller" style="height: 338px;" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2">
                            <div class="table-responsive" ->
                                <table class="table table-striped">
                                    <thead style="background-color:#0094ff;">
                                        <tr>
                                            <th>Client </th>
                                            <th>Job</th>
                                            <th>Date</th>
                                            <th>Rating 1-5 (1 -Excellent 5- Terrible)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Croke Park</td>
                                            <td>Game day Stewarts and bag searches</td>
                                            <td>Jan – Sept</td>
                                            <td>1</td>
                                        </tr>
                                        <tr>
                                            <td>Kevin Robinson</td>
                                            <td>Looking after farm yard and house</td>
                                            <td>14/02/18-21/02/18</td>
                                            <td>1</td>
                                        </tr>
                                        <tr>
                                            <td>14/02/18-21/02/18</td>
                                            <td>Doormen</td>
                                            <td>Every Saturday and Sunday throughout the year</td>
                                            <td>1</td>
                                        </tr>
                                        <tr>
                                            <td>Kerry Foods Omagh</td>
                                            <td>24/7 security on entrance</td>
                                    <td>24/7 security on entrance</td>
                                    <td>1</td>
                                    </tr>
                                    <tr>
                                        <td>John Lynch</td>
                                        <td>Security for private event</td>
                                        <td>02/03/18-03/03/18</td>
                                        <td>1</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END PAGE BASE CONTENT -->

    </div>
    <!-- END CONTENT BODY -->
</div>
<!-- END CONTENT -->
