﻿
@{
    ViewBag.Title = "ServiceProvided";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-content-wrapper">
    <!-- BEGIN CONTENT BODY -->
    <div class="page-content">
        <!-- BEGIN PAGE HEAD-->
        <!-- END PAGE BREADCRUMB -->
        <!-- BEGIN PAGE BASE CONTENT -->
        <div class="row">
            <div class="col-lg-12 col-xs-12 col-sm-12">
                <div class="portlet light bordered">
                    <div class="portlet-title">
                        <div class="caption caption-md">
                            <i class="icon-bar-chart font-dark hide"></i>
                            <span class="caption-subject font-dark bold uppercase text-center">Service Provided</span>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="scroller" style="height: 600px;" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2">
                            <p>24/7 Security is firmly established as one of Ireland's finest security service providers, offering clients professional security solutions that are :</p>
                            <ol>
                                <li>•	Innovative</li>
                                <li>•	Flexible</li>
                                <li>•	Dynamic</li>
                                <li>•	Cost Effective</li>
                                <li>•	We offer a comprehensive range of security services ranging from:</li>
                                <li>•	Event Security & Stewarding</li>
                                <li>•	Static Guarding</li>
                                <li>•	Retail Security</li>
                                <li>•	Homeland Consultancy</li>
                                <li>•	Security Training</li>
                                <li>•	Green Field Car Park Management</li>
                                <li>•	Chauffeur Services</li>
                                <li>•	Key-holding</li>
                                <li> •	Door Supervisory Personnel</li>
                                <li>•	Corporate Security</li>
                                <li>•	VIP/Close Protection</li>
                                <li>•	Overseas Consultancy</li>
                                <li>•	Mobile Patrol</li>
                                <li>•	Concierge/Receptionist Duties</li>
                                <li>•	Electronic Security</li>
                                <li>•	RISK Management Services</li>
                            </ol>
                            <p>
                                24/7 Security's underlying philosophy is to provide cost effective and innovative security solutions for our clients. Our senior management team has garnered an unrivalled reputation in our chosen areas of excellence and our client referrals are a testament to this. We invest heavily in our staff welfare and constantly ensure they are fully trained in the latest security techniques and systems.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END PAGE BASE CONTENT -->

    </div>
    <!-- END CONTENT BODY -->
</div>

